

{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
<div class="page-wrapper">
<div class="content">
<div class="page-header">
<div class="page-title">
<h4>Product Add Category</h4>
<h6>Create new product Category</h6>
</div>
</div>




<div class="container mt-5">
    <div class="card shadow p-4">
        <h2 class="mb-4">Add New Category</h2>
        {% comment %} <form method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="id_name">Category Type</label>
                {{ form.name }}
            </div>
            <div class="form-group mb-3">
                <label for="id_description">Description</label>
                {{ form.description }}
            </div>
            <button type="submit" class="btn btn-primary">Save Category</button>
        </form> {% endcomment %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="id_name">Category Type</label>
                {{ form.name }}
            </div>
            <div class="form-group mb-3">
                <label for="id_description">Description</label>
                {{ form.description }}
            </div>
            <div class="form-group mb-3">
                <label for="id_image">Category Image</label>
                {{ form.image }}
            </div>
            
            <button type="submit" class="btn btn-primary">Save Category</button>
        </form>
    </div>
</div>



{% endblock %}

